:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0f5257;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding: 5px;
}
.article-card {
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 3px solid black;
  margin: 5px;
  max-width: 400px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.article-topic {
  font-size: 12px;
  margin-bottom: 5px;
}
.article-title {
  margin: 0;
  font-size: 20px;
  flex-wrap: wrap;
}
.aritcle-img {
  margin-top: 32px;
  margin: 5px;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.article-author {
  font-size: smaller;
  margin-right: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.article-votes {
  padding-right: 10px;
}

link {
  text-decoration: none;
}

.article-page {
  display: grid;
  place-items: center;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
}
.article-page-infocard {
  width: 100%;
  max-width: 600px;
  min-width: min(98vw, 600px);
}

.article-page-topic {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.article-page-title {
  margin: 2px;
  font-size: 24px;
}

.article-page-undertitle {
  position: relative;
  flex-direction: column;
  padding: 10px;
}

.article-page-author {
  margin: 0;
  font-size: 12px;
}

.article-page-date {
  margin: 0;
  font-size: 12px;
}

.article-page-body {
  text-wrap: wrap;
}

.vote-box {
  position: absolute;
  right: 0px;
  top: 10%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.upvote,
.downvote {
  cursor: pointer;
  background: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 0;
}

.article-page-img {
  width: 100%;
  border-radius: 10px;
  max-width: 600px;
}
.comments-header {
  text-align: left;
  width: 100%;
}

.comment-card {
  margin-bottom: 10px;
  padding: 0px 10px;
  border: black 2px solid;
  border-radius: 10px;
  position: relative;
  min-width: 250px;
}

.comment-author {
  margin-top: 10px;
  margin-bottom: 0px;
}
.comment-date {
  margin: 0;
  font-size: 12px;
}

.comment-body {
  margin-bottom: 35px;
}
.comment-vote-box {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
}

.comment-votes {
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#comment-form {
  align-items: center;
  border-radius: 10px;
  width: 98vw;
  padding: 10px 0px;
  box-sizing: border-box;
  max-width: 600px;
}

#new-comment {
  width: 78%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

#comment-submit {
  color: "white";
  border: "none";
  border-radius: "15px";
  border-radius: 10px;
  width: 20%;
  min-width: 60px;
}

.topic-card {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  border: 3px solid black;
  margin: 5px;
  max-width: 400px;
}

.topic-description {
  padding: 0, 10px;
}

.topic-title {
  padding-left: 10px;
}
